/*! Main Layout Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: $font-body;
    font-size: 16px;
    line-height: 1.6;
    text-shadow: 1px 1px 1px var(--body-text-shadow);
    text-rendering: optimizeLegibility !important;
    scroll-behavior: smooth;
    font-kerning: normal;
    font-feature-settings: "kern" 1, "liga" 1;
}

a {
    color: var(--link-1);
    text-decoration: none;
    transition: all 500ms ease;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    border-bottom: 1px solid var(--link-1);
    &:hover {
        background-image: none;
        background-color: var(--link-1);
        color: var(--link-hover-color);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    line-height: 1.25;
    color: var(--heading-color);
    text-align: left;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    font-family: $font-h1;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: $font-h2;
}

h3 {
    // margin-top: 2rem;
    margin-top: 4rem;
    font-size: 1.25rem;
    font-family: $font-h3;
    &:first-of-type {
        margin-top: 2rem;
    }
}

h4,
h5,
h6 {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-family: $font-h456;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
}

hr {
    position: relative;
    border: 0;
    border-top: 1px solid var(--hrline-color);
    margin: 1.5rem 0;
}

abbr {
    font-weight: 700;
    color: var(--abbr-color);
    text-transform: uppercase;
    &[title] {
        cursor: help;
        border-bottom: 1px dotted var(--abbr-border);
    }
}

code,
pre {
    font-family: $font-precode;
}

code {
    background: var(--code-bg);
    color: var(--code-color);
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
    white-space: pre;
    overflow: auto;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    max-height: 800px;
    font-size: 0.9rem;
    code {
        display: block;
        padding: 0;
    }
    .line-number {
        display: block;
        float: left;
        margin: 0 1em 0 -1em;
        user-select: none; /* Standard */
        text-align: right;
        span {
            display: block;
            padding: 0 0.5em 0 1em;
        }
    }
    .cl {
        display: block;
        clear: both;
    }
}

blockquote {
    color: var(--blockquote-color);
    border-left: 0.25rem solid var(--blockquote-border);
    margin: 0.8rem 0;
    padding: 0.5rem 1rem;
    background: var(--blockquote-bg);
}

img {
    display: block;
    border-radius: 3px;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
    box-shadow: 0 1px 3px var(--img-shadow);
}

figure {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    background: repeating-linear-gradient(135deg, var(--figure-bg-1) 0, var(--figure-bg-1) 1%, var(--figure-bg-2) 0, var(--figure-bg-2) 50%) 0 / 20px 20px;
    text-align: center;
    img {
        margin: 0 auto 0.2rem auto;
        border: 1px solid var(--figure-img-border);
        box-shadow: none;
        background-color: var(--figure-img-bg);
    }
    figcaption {
        font-size: 0.9rem;
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 1.6;
        font-family: $font-figcaption;
        span {
            background-color: var(--figure-caption-bg);
            padding: 0.2rem 0.5rem;
        }
        a:hover {
            cursor: pointer;
        }
    }
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid var(--table-border);
    border-collapse: collapse;
    td a {
        word-break: keep-all;
    }
}

td,
th {
    border: 1px solid var(--table-border);
    padding: 0.25rem 0.5rem;
}

tbody tr:nth-child(odd) {
    td,
    th {
        background-color: var(--table-row-odd-bg);
    }
}

.img-logo {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 44rem;
    z-index: 99;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.dot-red {
    color: var(--brand-red);
}
.dot-yellow {
    color: var(--brand-yellow);
}
.dot-green {
    color: var(--brand-green);
}

.page,
.post {
    margin-bottom: 4em;
    font-size: 1rem;
    text-align: left;
    i.em {
        margin-top: -4px;
    }
}

.post {
    .tagged {
        margin-top: 1rem;
    }
    .post-bottom-meta {
        margin-top: 2rem;
    }
    .tagged a {
        border: 1px solid var(--tag-border);
        padding: 2px 5px;
        background: transparent;
        display: inline-block;
        color: var(--tag-color);
        outline: 0;
        text-decoration: none;
        user-select: none;
        font-family: $font-tagging;
        font-size: 0.8rem;
        border-radius: 3px;
    }
    .tagged a:hover {
        cursor: pointer;
        border: 1px solid var(--tag-hover-border);
        background: var(--tag-hover-bg);
        color: var(--tag-hover-color);
    }
}

.wrap {
    position: relative;
    width: 100%;
}

.post-list {
    margin: 0 0 0.75em;
}

.page a,
.post a {
    &.reversefootnote {
        border-bottom: none;
        &::before {
            content: "[return]";
        }
    }
    &.footnote {
        border-bottom: none;
        background: transparent;
        color: var(--link-1);
        background: var(--footnote-post-bg);
        padding-left: 3px;
        padding-right: 3px;
        &:hover {
            background: var(--link-2) !important;
            color: var(--link-hover-color);
        }
    }
}

.notes a,
.page a:hover,
.post a:hover {
    border: 0;
}

dl,
ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

dl,
ol,
ul {
    margin-left: 1rem;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.page-title,
.post-title {
    margin-top: 0;
}

.post-list-date {
    float: right;
    margin: 0 0 0 20px;
}

.post-date {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font-postmeta;
    font-size: 0.9rem;
    color: var(--postdate-color);
}

.post-list-date small {
    color: var(--postlistdate-color);
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.post-list-title {
    font-size: 1.1rem;
    line-height: 1.2;
    a {
        border-bottom: 0;
    }
}

.post-list-desc {
    color: var(--postlistdesc-color);
    font-size: 1rem;
    margin-bottom: 1rem;
    small {
        color: var(--postlistdesc-small-color);
        display: inline-block;
        font-style: italic;
    }
}

.post-list-tags {
    line-height: 1.3;
    color: var(--post-tag-color);
    span {
        font-weight: normal;
        font-size: 0.8rem;
        border: 1px solid var(--post-tag-border);
        padding-left: 4px;
        padding-right: 4px;
        display: inline-block;
        border-radius: 2px;
        background: var(--post-tag-bg);
    }
}

.page-top-meta,
.post-top-meta {
    margin-bottom: 2rem;
}

.hrline {
    background: var(--ghrline-1);
    background: linear-gradient(to right, var(--ghrline-2), var(--ghrline-3), var(--ghrline-2));
    height: 1px;
    margin: 2.5em 0;
}

.copyright {
    padding-bottom: 1rem;
    font-size: 0.8rem;
    color: var(--copyright-color);
    a {
        background-image: none;
        border: none;
    }
}

.footer {
    margin: 1rem auto 2rem auto;
    max-width: 28rem;
    z-index: 99;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.back {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    background-color: var(--skip-bg);
    color: var(--skip-color);
    padding-left: 5px;
    padding-right: 5px;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 2000;
}

.tag-cloud {
    margin-bottom: 20px;
    a {
        margin-right: 4px;
        margin-bottom: 8px;
        border: 1px solid transparent;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
        border-radius: 3px;
        line-height: 2;
        font-family: $font-tagging;

        &.tag-anchor {
            background: var(--tagcloud-bg);
            color: var(--tagcloud-color);
            border: none;

            &:active,
            &:focus,
            &:hover {
                background: var(--link-2);
                color: var(--link-hover-color);
                border: none;
            }
        }
    }
}

.tag-cloud-small {
    a.tag-anchor {
        font-size: 0.8rem;
    }
}

.muted {
    opacity: 0.5;
}

.empty-space {
    display: block;
    margin: 0 auto;
    height: 3rem;
}

.footnotes {
    background-color: var(--footnote-bg);
    margin-top: 2rem;
    font-family: $font-footnote;
    font-size: 0.8rem;
    padding: 1rem;
    ol {
        li {
            margin-left: 5px;
        }
        li p {
            margin-bottom: 0;
        }
    }
    &:before {
        content: " /\\/";
        display: block;
        padding-top: 0;
        color: var(--footnote-logo-color);
    }
}

.author-info {
    &::after {
        clear: both;
    }
    .with-avatar {
        &::after {
            clear: both;
        }
        .photo {
            float: right;
            width: 144px;
            height: 144px;
            margin-bottom: 2rem;
            margin-left: 1rem;
            img {
                margin: 0 auto;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.breaker {
    height: 1px;
    margin: 3rem auto;
    width: 100%;

    &:before {
        content: ". . .";
        width: 100%;
        text-align: center;
        display: block;
        color: var(--breaker-color);
        letter-spacing: 4px;
        position: relative;
        top: -8px;
    }
}

.related-post {
    margin-top: 2rem;
    .title {
        font-family: $font-precode;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    ul {
        padding-left: 28px;
        list-style: decimal-leading-zero;
    }
}

.archives {
    .post-title {
        display: flex;
        flex-direction: row;
        width: 100%;
        .post-date {
            font-family: $font-postmeta;
            width: fit-content;
            word-wrap: none;
            white-space: nowrap;
            padding-top: 0.1rem;
            padding-right: 1rem;
        }
        .full-title {
            flex: 1;
            a {
                border: none;
                .project-label {
                    opacity: 0.7;
                    font-family: $font-precode;
                    font-size: 0.8em;
                    text-transform: uppercase;
                    border: 1px solid var(--link-1);
                    margin-right: 5px;
                    padding-left: 2px;
                    padding-right: 2px;
                }
            }
        }
    }
    a {
        background-image: none;
    }
    .year {
        // color: var(--year-color);
        font-family: $font-year;
    }
}

ul.task-list {
    list-style-type: none;
    li.task-list-item {
        margin-left: -1rem;
        input.task-list-item-checkbox {
            height: 1em;
            width: 1em;
            margin-right: 1rem;
            vertical-align: middle !important;
            position: relative !important;
            bottom: 1px !important;
        }
    }
}