/* Landscape phones and down */
@media (max-width: 480px) {
  .container img {
    transform: none;
    border-radius: 0px;
  }
  .page,
  .post {
    text-align: left;
    pre {
      margin-left: -2rem;
      margin-right: -2rem;
      border-left: none;
      border-right: none;
    }
    figure {
      padding-left: 0px;
      padding-right: 0px;
      img {
        box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
      }
    }
    .post-date {
      .hypen {
        display: none;
      }
      .date {
        display: block;
      }
      .author {
        display: block;
        font-size: 0.6rem;
        margin-bottom: 1rem;
      }
    }
  }
  .archives {
    .post-list-archives {
      margin-bottom: 0.5rem;
      line-height: 1.2;
      .date-full {
        display: none !important;
      }
      .full-title {
        font-family: $body-font;
        font-size: 1rem;
        display: list-item;
        list-style-type: disc;
        list-style-position: outside;
        &:hover {
          list-style-type: none;
        }
      }
      .post-date {
        display: none;
      }
    }
  }
  .prev-next-post {
    flex-direction: column;
    margin-left: -2rem;
    margin-right: -2rem;
    .prev-post {
      width: 100%;
    }
    .next-post {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  pre {
    max-height: 500px;
  }
  .author-info {
    .with-avatar {
      .photo {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        background: #f3f3f3;
        margin-left: 0px;
        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
      .intro-text {
        margin-left: 0;
        display: block;
      }
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}
