.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
}

.switch-index {
  margin-top: -1rem;
  margin-bottom: 1rem;
  text-align: right;
  font-family: $use-gridview-font;
  font-size: 0.65rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  a {
    border-bottom: none;
  }
}

.spacer {
  display: block;
  border-bottom: 1px solid $silver;
  width: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

// .post,
// .page {
//   a[href*="//"]::after
//   {
//     content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC);
//     margin: 0 0 0 5px;
//   }
//   a[href*="localhost"]::after,
//   a[href*="heiswayi.nrird.com"]::after,
//   a[href*=".png"]::after,
//   a[href*=".jpg"]::after,
//   a[href*=".jpeg"]::after,
//   a[href*=".gif"]::after {
//     content: "";
//     margin: 0;
//   }
// }

// a.external:after {
//   content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC);
//   margin: 0 0 0 5px;
// }

.mark {
  color: $red;
}

p.elsewhere {
  a {
    word-wrap: none;
    word-break: keep-all;
  }
}

p.warning {
  padding: 0.5rem 1rem;
  background: #f8dc81;
  border-radius: 2px;
}

.cat-red {
  color: #D50000;
}
.cat-blue {
  color: #2962FF;
}
.cat-green {
  color: #00C853;
}
.cat-yellow {
  color: #FFD600;
}
.cat-orange {
  color: #FF6D00;
}
.cat-purple {
  color: #AA00FF;
}
.cat-pink {
  color: #C51162;
}

h1 {
  // font-family: 'Shizuru', cursive;
  // font-size: 2rem;
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  // text-transform: uppercase;
  background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}