.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid var(--button-border);
  margin: 0 10px 0 0;
  text-decoration: none;
  text-align: center;
  font: 14px / normal $font-button;
  color: var(--button-color);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--button-bg);
  box-shadow: 2px 2px var(--button-shadow);
  background-clip: padding-box;
  border-radius: 2px;
  zoom: 1;
  *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  border: 1px solid var(--link-2) !important;
}

.button:hover {
  background-color: var(--link-2);
  color: var(--button-hover-color);
}

.button.primary {
  font-weight: bold;
}

.button.pill {
  border-radius: 50em;
}

.button.disable {
  opacity: 0.5;
}

.button.big {
  font-size: 18px;
}

// Dark and Light Theme Switch
.theme-toggle {
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .checkbox-label {
    background-color: var(--theme-toggle-1);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fa-moon {
    color: #f1c40f;
  }
  .fa-sun {
    color: #f39c12;
  }
  .checkbox-label .ball {
    background-color: var(--theme-toggle-2);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  .checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
  }
}