.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid var(--button-border);
  margin: 0 10px 0 0;
  text-decoration: none;
  text-align: center;
  font: 14px / normal $font-button;
  color: var(--button-color);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--button-bg);
  box-shadow: 2px 2px var(--button-shadow);
  background-clip: padding-box;
  border-radius: 2px;
  zoom: 1;
  *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  border: 1px solid var(--link-2) !important;
}

.button:hover {
  background-color: var(--link-2);
  color: var(--button-hover-color);
}

.button.primary {
  font-weight: bold;
}

.button.pill {
  border-radius: 50em;
}

.button.disable {
  opacity: 0.5;
}

.button.big {
  font-size: 18px;
}