/*! Print Styles */

@media print {
  @page {
    margin: 1in;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: black;
  }
  .container,
  .footer {
    width: 100%;
    max-width: none;
  }
  .container {
    padding-top: 0;
  }
  .header,
  .footer-social-links,
  .back,
  #disqus,
  .edit-this-page,
  .related-post,
  .footer {
    display: none;
  }
  .hrline {
    background: none;
    height: 1px;
    margin: 10px auto;
  }
  .page {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
  }
  .post {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    a {
      border-bottom: 0;
      font-weight: bold;
      /*
      &:after {
        content: " [" attr(href) "] ";
        font-weight: normal;
        font-style: italic;
      }
      */
    }
  }
  .tagged {
    margin-bottom: 20px;
    a {
      font-weight: normal;
      &:after {
        font-weight: normal;
        font-style: normal;
        content: none;
      }
    }
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: none;
    background: #f8f8f8;
    code {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
