/*! Main Layout Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #414141;
    background-color: #fff;
    font-family: $body-font;
    font-size: 16px;
    line-height: 1.6;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    scroll-behavior: smooth;
    font-kerning: normal;
    font-feature-settings:"kern" 1, "liga" 1;
}

a {
    color: #06b;
    text-decoration: none;
    transition: all 500ms ease;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    border-bottom: 1px solid #06b;
    &:hover {
        background-image: none;
        background-color: #06b;
        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    line-height: 1.25;
    color: #313131;
    text-align: left;
}

h1 {
    font-size: 2rem;
    font-family: $headingh1-font;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: $headingh2-font;
}

h3 {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-family: $headingh3-font;
}

h4,
h5,
h6 {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-family: $headingh456-font;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
}

hr {
    position: relative;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.5rem 0;
}

abbr {
    font-weight: 700;
    color: #555;
    text-transform: uppercase;
    &[title] {
        cursor: help;
        border-bottom: 1px dotted #e5e5e5;
    }
}

code,
pre {
    font-family: $precode-font;
}

code {
    color: #f14e32;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
    white-space: pre;
    overflow: auto;
    padding: .5rem 2rem .5rem .5rem;
    max-height: 800px;
    font-size: .9rem;
    code {
        display: block;
        padding: 0;
    }
    .line-number {
        display: block;
        float: left;
        margin: 0 1em 0 -1em;
        user-select: none; /* Standard */
        text-align: right;
        span {
            display: block;
            padding: 0 .5em 0 1em;
        }
    }
    .cl {
        display: block;
        clear: both;
    }
}

blockquote {
    color: #7a7a7a;
    border-left: 0.25rem solid #ddd;
    margin: 0.8rem 0;
    padding: 0.5rem 1rem;
    background: #f8f8f8;
}

img {
    display: block;
    border-radius: 3px;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

figure {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    background: repeating-linear-gradient(135deg, #dfdfdf 0, #dfdfdf 1%, #ffffff 0, #ffffff 50%) 0 / 20px 20px;
    text-align: center;
    img {
        margin: 0 auto .2rem auto;
        box-shadow: 3px 3px rgba(0,0,0,.1);
        border: 1px solid #ddd;
        background-color: #fdfdfd;
    }
    figcaption {
        font-size: 0.9rem;
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 1.6;
        font-family: $figcaption-font;
        span {
            background-color: #fff;
            padding: 0.2rem 0.5rem;
        }
        a:hover {
            cursor: pointer;
        }
    }
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #e5e5e5;
    padding: 0.25rem 0.5rem;
}

tbody tr:nth-child(odd) {
    td,
    th {
        background-color: #f9f9f9;
    }
}

.img-logo {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 28rem;
    z-index: 99;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.masthead {
    padding-top: 1rem;
    margin-bottom: 2rem;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
    overflow-x: hidden;
    .container {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.site-logo {
    a {
        color: #333;
        border-bottom: 0;
        padding: 7px 15px;
        white-space: nowrap;
        font-family: $logo-font;
        font-size: 0.8rem;
        user-select: none;
        background: #fff;
        border: 1px dashed #ccc;
        &:hover {
            background: #fff;
            color: #06b;
            border: 1px solid #06b;
        }
    }
}

.nav {
    margin-left: 1rem;
    a.menu {
        color: #414141;
        border: 1px solid #fff;
        padding: 7px 15px;
        white-space: nowrap;
        font-family: $topmenu-font;
        font-size: 0.8rem;
        background: #fff;
        margin-bottom: 0;
        &:hover {
            background: #fff;
            color: #06b;
        }
        &.active {
            background: #fff;
            color: #06b;
            text-decoration: underline;
        }
    }
}

.masthead-post {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background: repeating-linear-gradient(135deg, #dfdfdf 0, #dfdfdf 1%, #ffffff 0, #ffffff 50%) 0 / 20px 20px;
    position: relative;
    border-bottom: 1px solid #eeeeee;
}

.masthead-title {
    margin-top: 2rem;
    margin-bottom: 0;
    color: #505050;
    display: flex;
    justify-content: center;
    a {
        color: #505050;
        font-weight: 900;
        font-size: 3rem;
        float: left;
        background: none;
        border: none;
        &:hover {
            background-color: transparent;
        }
        img {
            margin: 0;
        }
    }
}

.dot-red {
    color: #FF4136;
}
.dot-yellow {
    color: #FFDC00;
}
.dot-green {
    color: #2ECC40;
}

.page,
.post {
    margin-bottom: 4em;
    font-size: 1rem;
    text-align: left;
    i.em {
        margin-top: -4px;
    }
}

.post {
    .tagged {
        margin-top: /*2rem*/ 0; /* handled by .post-bottom-meta now */
    }
    .post-bottom-meta {
        margin-top: 2rem;
    }
    .tagged a {
        border: 1px solid #ddd;
        padding: 2px 5px;
        background: transparent;
        display: inline-block;
        color: #999;
        outline: 0;
        text-decoration: none;
        user-select: none;
        font-family: $tag-font;
        font-size: 0.8rem;
        border-radius: 3px;
    }
    .tagged a:hover {
        cursor: pointer;
        border: 1px solid #555;
        background: #444;
        color: #fff;
    }
}

.wrap {
    position: relative;
    width: 100%;
    margin-top: -20px;
    padding: 0;
}

.post-list {
    margin: 0 0 0.75em;
}

.page a,
.post a {
    &.reversefootnote {
        border-bottom: none;
        &::before {
            content: '[return]';
        }
    }
    &.footnote {
        border-bottom: none;
        background: transparent;
        color: #FF4136;
        padding-left: 3px;
        padding-right: 3px;
        &:hover {
            background: #069 !important;
            color: #fff;
        }
    }
}

.notes a,
.page a:hover,
.post a:hover {
    border: 0;
}

dl,
ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

dl,
ol,
ul {
    margin-left: 1rem;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.page-title,
.post-title {
    margin-top: 0;
}

.post-list-date {
    float: right;
    margin: 0 0 0 20px;
}

.post-date {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $postmeta-font;
    font-size: 0.9rem;
    color: #888;
}

.post-list-date small {
    color: #757575;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.post-list-title {
    font-size: 1.1rem;
    line-height: 1.2;
    a {
        border-bottom: 0;
    }
}

.post-list-desc {
    color: #505050;
    font-size: 1rem;
    margin-bottom: 1rem;
    small {
        color: #aaa;
        display: inline-block;
        font-style: italic;
    }
}

.post-list-tags {
    line-height: 1.3;
    color: #888;
    span {
        font-weight: normal;
        font-size: 0.8rem;
        border: 1px solid #ddd;
        padding-left: 4px;
        padding-right: 4px;
        display: inline-block;
        border-radius: 2px;
        background: #f6f6f6;
    }
}

.page-top-meta,
.post-top-meta {
    margin-bottom: 2rem;
}

.hrline {
    background: #ddd;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
    height: 1px;
    margin: 2.5em 0;
}

.license,
.twitter-follow {
    margin-bottom: 1rem;
}

.copyright {
    font-size: 0.8rem;
    color: #888;
    a {
        background-image: none;
        border: none;
    }
}

.license {
    font-size: 0.6rem;
    color: #888;
    text-align: justify;
}

.footer {
    margin: 1rem auto 2rem auto;
    max-width: 28rem;
    z-index: 99;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.back {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-social-links {
    font-size: 1rem;
    margin-top: 5px;
    a {
        padding: 3px 10px;
        height: auto;
        position: relative;
        text-align: center;
        display: inline-block;
        color: #777;
        transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
        background: rgba(0, 0, 0, 0.03);
        border-radius: 3px;
        &:hover {
            color: #fff;
            background: #111;
        }
    }
}

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    background-color: #f00;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 2000;
}

.tag-cloud {
    margin-bottom: 20px;
    a {
        margin-right: 4px;
        margin-bottom: 8px;
        border: 1px solid transparent;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
        border-radius: 3px;
        line-height: 2;
        font-family: $tag-font;

        &.tag-anchor {
            background: #f0f0f0;
            color: #444;

            &:active,
            &:focus,
            &:hover {
                background: #069;
                color: #fff;
            }
        }

        &.tag-anchor-red {
            background: #FF4136;
            color: #fff;

            &:active,
            &:focus,
            &:hover {
                background: #069;
                color: #fff;
            }
        }
    }
}

.tag-cloud-small {
    a.tag-anchor,
    a.tag-anchor-red {
        font-size: 0.8rem;
    }
}

.muted {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.empty-space {
    display: block;
    margin: 0 auto;
    height: 3rem;
}

.footnotes {
    background-color: #f3f3f3;
    margin-top: 2rem;
    font-family: $footnote-font;
    font-size: 0.8rem;
    ol {
        li p {
            margin-bottom: 0;
        }
    }
    &:before {
        content: ' /\\/';
        display: block;
        padding-top: 0;
        color: #aaa;
    }
}

.author-info {
    &::after {
        clear: both;
    }
    .with-avatar {
        .photo {
            float: left;
            width: 200px;
            height: 200px;
            margin-bottom: 2rem;
            img {
                margin: 0 auto;
                height: 100%;
                width: 100%;
            }
        }
        .intro-text {
            margin-left: 215px;
            // font-size: 1.2rem;
        }
    }
}

.breaker {
    height: 1px;
    margin: 3rem auto;
    width: 100%;

    &:before {
        content: '. . .';
        width: 100%;
        text-align: center;
        display: block;
        color: #aaa;
        letter-spacing: 4px;
        position: relative;
        top: -8px;
    }
}

.related-post {
    margin-top: 2rem;
    .title {
        font-family: $precode-font;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    ul {
        padding-left: 28px;
        list-style: decimal-leading-zero;
    }
}

.archives {
    .post-title {
        display: table;
        width: 100%;
        .post-date {
            // display: table-cell;
            display: inline-block;
            text-align: left;
            font-family: $postmeta-font;
            color: #ccc;
            width: fit-content;
            word-wrap: none;
            white-space: nowrap;
            font-style: italic;
        }
        .full-title {
            display: table-cell;
            a {
                border: none;
                color: #333;
                &:hover {
                    color: #fff;
                }
                .project-label {
                    opacity: 0.7;
                    font-family: $precode-font;
                    font-size: 0.9em;
                    text-transform: uppercase;
                }
            }
        }
    }
    a {
        background-image: none;
    }
    .year {
        color: #bbb;
        font-family: $year-label-font;
    }
}

.em-1em {
    width: 1em;
    height: 1em;
}

.no-js img.lazyload {
    display: none;
}

ul.task-list {
    list-style-type: none;
    li.task-list-item {
        margin-left: -1rem;
        input.task-list-item-checkbox {
            height: 1em;
            width: 1em;
            margin-right: 1rem;
            vertical-align: middle !important;
            position: relative !important;
            bottom: 1px !important;
        }
    }
}