.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-silver);
  .copyright {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    max-width: 960px;
    width: 100%;
    margin: 0;
    padding: 2rem;
    a {
      border: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .content {
    background-color: var(--color-white);
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    // max-width: 960px;
    width: 100%;
    .post-meta,
    .page-meta {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: $font-postmeta;
      font-size: 0.9rem;
      opacity: 0.8;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
    .post-title,
    .page-title {
      margin-top: 0;
      margin-bottom: 0;
    }
    h1, h2, h3, h4, h5, h6, p, table, blockquote, form, ul, ol, img, figure,
    .footnotes {
      max-width: 960px;
    }
  }
}

.post-tags {
  a {
    border: 1px solid var(--color-silver);
    padding: 2px 5px;
    background: transparent;
    display: inline-block;
    color: var(--color-gray);
    outline: 0;
    text-decoration: none;
    user-select: none;
    font-family: $font-tagging;
    font-size: 0.8rem;
    border-radius: 3px;
    line-height: 1.2;
    margin-top: 1rem;
    &:hover {
      cursor: pointer;
      border: 1px solid var(--color-blue);
      background: var(--color-blue);
      color: var(--color-white);
    }
  }
}

.tag-cloud {
  .tag-anchor {
    margin-right: 4px;
    margin-bottom: 8px;
    color: var(--color-gray);
    border: 1px solid var(--color-silver);
    background-color: var(--color-white);
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    border-radius: 3px;
    line-height: 2;
    font-family: $font-tagging;
    text-decoration: none;
    font-size: 0.8rem;
    span {
      opacity: 0.5;
    }
    &:hover {
      border: 1px solid var(--color-blue);
      background-color: var(--color-blue);
      color: var(--color-white);
    }
  }
}

.tagged-posts {
  .current-tag {
    border-top: 1px solid var(--color-silver);
    padding-top: 1rem;
    font-family: $font-precode;
  }
  ul {
    margin-left: 1.2rem;
    li {
      line-height: 1.1;
      &:not(:last-child) {
        margin-bottom: 1ch;
      }
      a {
        border-bottom: none;
      }
      span {
        font-size: 0.9rem;
        opacity: 0.7;
      }
    }
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  color: var(--color-black);
  background-color: var(--color-silver);
  border: 1px solid var(--color-gray);
  padding: 1rem;
}

.mark {
  color: var(--color-red);
}

.muted {
  opacity: 0.5;
}

p.warning {
  padding: 0.5rem 1rem;
  background: var(--color-yellow);
  color: var(--color-black);
  border-radius: 2px;
}

.cat-red {
  color: var(--color-red);
}
.cat-blue {
  color: var(--color-blue);
}
.cat-green {
  color: var(--color-green);
}
.cat-yellow {
  color: var(--color-yellow);
}
.cat-orange {
  color: var(--color-orange);
}
.cat-purple {
  color: var(--color-purple);
}
.cat-pink {
  color: var(--color-fuchsia);
}

.colorize {
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  // text-transform: uppercase;
  background: linear-gradient(219deg, 
    var(--brand-color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--brand-color-2) 20%, var(--brand-color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--brand-color-3) 40%,var(--brand-color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--brand-color-4) 60%, var(--brand-color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--brand-color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  .box {
    width: 16rem;
    line-height: 1.4;
    background-color: var(--color-white);
    border: 1px solid var(--color-silver);
    padding: 1rem;
    .box-title {
      font-weight: bold;
    }
    .box-desc {
      font-size: 0.9rem;
    }
    .box-links {
      margin-top: 1ch;
    }
    &:hover {
      border-color: var(--color-black);
    }
  }
}

dl.project-list {
  margin-left: 0px;
  dt {
    a {
      border-bottom: none;
    }
  }
  dd {
    opacity: 0.7;
  }
}

.no-js-notice {
  line-height: 1;
  color: #DD3D36;
  font-family: monospace;
  padding: 1rem 0;
}

.index-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .index-row {
    display: flex;
    flex-direction: row;
    .post-date {
      font-family: $font-postmeta;
      word-wrap: none;
      white-space: nowrap;
      opacity: 0.5;
      margin-right: 1rem;
    }
    .post-title {
      a {
        color: var(--color-black);
        .label {
          opacity: 0.7;
          font-family: $font-precode;
          font-size: 0.8em;
          text-transform: uppercase;
          border: 1px solid var(--color-silver);
          margin-right: 5px;
          padding-left: 2px;
          padding-right: 2px;
        }
        &:hover {
          color: var(--color-blue);
        }
      }
    }
  }
}

.error-page {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .error-content {
    h1 {
      font-family: $font-precode;
      font-size: 1rem;
    }
    h2 {
      font-family: $font-precode;
    }
    p {
      a {
        border-bottom: none;
      }
    }
  }
}