.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
}

.switch-index {
  margin-top: -1rem;
  margin-bottom: 1rem;
  text-align: right;
  font-family: $use-gridview-font;
  font-size: 0.65rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  a {
    border-bottom: none;
  }
}

hr.divider,
hr.break {
  display: block;
  width: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.post,
.page {
  a[href*="//"]::after
  {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC);
    margin: 0 0 0 5px;
  }
  a[href*="localhost"]::after,
  a[href*="heiswayi.nrird.com"]::after,
  a[href*=".png"]::after,
  a[href*=".jpg"]::after,
  a[href*=".jpeg"]::after,
  a[href*=".gif"]::after {
    content: "";
    margin: 0;
  }
}

// a.external:after {
//   content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC);
//   margin: 0 0 0 5px;
// }
