/* Landscape phones and down */
@media (max-width: 480px) {
  .hidden-on-mobile {
    display: none;
  }
  .container img {
    transform: none;
    border-radius: 0px;
  }
  .page,
  .post {
    text-align: left;
    pre {
      margin-left: -2rem;
      margin-right: -2rem;
      border-left: none;
      border-right: none;
    }
    figure {
      img {
        box-shadow: 1px 1px rgba(0,0,0,.1);
      }
    }
    .post-date {
      .hypen {
        display: none;
      }
      .date {
        display: block;
      }
      .author {
        display: block;
        font-size: 0.6rem;
        margin-bottom: 1rem;
      }
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  pre {
    max-height: 500px;
  }
  .author-info {
    .with-avatar {
        .photo {
            float: none;
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            background: #f3f3f3;
            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        .intro-text {
            margin-left: 0;
            display: block;
        }
    }
  }
  .archives {
    .post-list-archives {
      margin-bottom: .5rem;
      line-height: 1.2;
      .date-full {
        display: none !important;
      }
      .full-title {
        font-family: $body-font;
        font-size: 1rem;
        display: list-item;
        list-style-type: disc;
        list-style-position: outside;
        &:hover {
          list-style-type: none;
        }
      }
      .post-date {
        display: none;
      }
    }
    .year {
      margin-top: 2rem;
    }
  }
  .nav {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a.logo {
      display: none;
    }
    a.menu {
      &::before {
        content: "";
      }
      border: 1px solid #ccc;
    }
  }
  .site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      border: 1px solid #fff;
      &:hover {
        border: 1px solid #fff;
      }
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
  .container, .footer {
    max-width: 36rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .container, .footer {
    max-width: 44rem;
  }
}