.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  color: var(--message-color);
  background-color: var(--message-bg);
  border: 1px solid var(--message-border);
  padding: 1rem;
}

.spacer {
  display: block;
  border-bottom: 1px solid var(--spacer-border);
  width: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

// .post,
// .page {
//   a[href*="//"]::after
//   {
//     content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC);
//     margin: 0 0 0 5px;
//   }
//   a[href*="localhost"]::after,
//   a[href*="heiswayi.nrird.com"]::after,
//   a[href*=".png"]::after,
//   a[href*=".jpg"]::after,
//   a[href*=".jpeg"]::after,
//   a[href*=".gif"]::after {
//     content: "";
//     margin: 0;
//   }
// }

// a.external:after {
//   content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAV0lEQVR4Xq2QwQ2AAAwC3cmd2Kk7sRP64CEJ9qOX8OPatMc/QKppnEPhTmJh23CLiwAqIw21CybKQ28qQi37WGFYBJcwfJQpP8LlEHKyZMF0IdmF13zlAjZ/6H4wb+mUAAAAAElFTkSuQmCC);
//   margin: 0 0 0 5px;
// }

.mark {
  color: var(--color-red);
}

p.elsewhere {
  a {
    word-wrap: none;
    word-break: keep-all;
  }
}

p.warning {
  padding: 0.5rem 1rem;
  background: var(--warning-bg);
  color: var(--warning-color);
  border-radius: 2px;
}

.cat-red {
  color: var(--color-red);
}
.cat-blue {
  color: var(--color-blue);
}
.cat-green {
  color: var(--color-green);
}
.cat-yellow {
  color: var(--color-yellow);
}
.cat-orange {
  color: var(--color-orange);
}
.cat-purple {
  color: var(--color-purple);
}
.cat-pink {
  color: var(--color-fuchsia);
}

.colorize {
  // font-family: 'Shizuru', cursive;
  // font-size: 2rem;
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  // text-transform: uppercase;
  background: linear-gradient(219deg, 
    var(--brand-color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--brand-color-2) 20%, var(--brand-color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--brand-color-3) 40%,var(--brand-color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--brand-color-4) 60%, var(--brand-color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--brand-color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.post-label {
  margin-bottom: 1rem;
}
.post-label > a,
.post-label > a:hover {
  border: 1px solid var(--postlabel-border);
  padding: 4px 8px;
  background: transparent;
  color: var(--postlabel-color);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: monospace;
}
@media print {
  .post-date {
    color: var(--postdate-color);
  }
}

.light-theme-link,
.dark-theme-link {
  display: none;
}

.box-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;
  .box {
    width: 16rem;
    line-height: 1.4;
    background-color: var(--pre-bg);
    border: 1px solid var(--pre-border);
    padding: 1rem;
    .box-title {
      font-weight: bold;
    }
    .box-desc {
      font-size: 0.9rem;
      opacity: 0.8;
    }
    .box-links {
      margin-top: 1ch;
    }
    .box-img {
      img {
        height: 200px;
        width: max-content;
        object-fit: cover;
      }
    }
    &:hover {
      border-color: var(--link-1);
    }
  }
}

dl.project-list {
  margin-left: 0px;
}