.header {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--header-border);
    width: 100%;
    z-index: 1000;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    background-color: var(--header-bg);
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 0px;
        margin-bottom: 0px;
        .site-logo {    
            a {
                background: none;
                border: none;
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                margin-top: 2ch;
                margin-bottom: 2ch;
                img {
                    box-shadow: none;
                    border-radius: none;
                    margin: none;
                }
            }
        }
        nav ul {
            padding: 0;
            background-color: none;
            margin-top: 2ch;
            margin-bottom: 2ch;
            margin-left: 0;
            margin-right: 0;
        }
        nav ul li {
            display: inline-block;
        }
        nav ul li a {
            display: inline-block;
            padding: 5px 12px;
            white-space: nowrap;
            font-family: $font-topmenu;
            font-size: 14px;
            color: var(--link-1);
            margin-bottom: 0;
            border-bottom: none;
            &:hover {
                background: none;
                text-decoration: underline;
                color: var(--link-2);
            }
            &.active {
                background: none;
                text-decoration: underline;
                color: var(--nav-active-color);
            }
        }
    }
}

div#content {
    padding-top: 100px;
}