.cv-exp-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    .cv-exp-left {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        text-transform: uppercase;
        width: 12rem;
        .cv-exp-title {
            font-weight: bold;
        }
        .cv-exp-com {
            font-size: small;
        }
        .cv-exp-date {
            font-family: $precode-font;
            font-size: small;
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            .date-ranger {
                &::before {
                    content: '—';
                }
                padding-left: 1ch;
                padding-right: 1ch;
                // border-right: 1px solid $gray;
                // width: 2rem;
                // height: 1rem;
            }
        }
        .cv-exp-duration {
            font-size: small;
            text-transform: none;
            opacity: 0.7;
        }
    }
    .cv-exp-right {
        flex: 1;
        font-size: small;
        line-height: 1.4;
        ul {
            li {
                padding-left: 1ch;
            }
        }
    }
}

.ul-title {
    margin-bottom: 0px;
}

.square li::marker {
    content: '❏';
}

.arrow li::marker {
    content: '➭';
}

.checkmark li::marker {
    content: '✓';
}

.cv-h3 {
    border-bottom: 1px solid $silver;
}

.keysight {
    &::before {
        content: '►';
        color: #e90029;
        padding-right: 1ch;
    }
    // background: #e90029;
    // color: $white;
}

.itd {
    &::before {
        content: '►';
        color: #eec005;
        padding-right: 1ch;
    }
    // background: #eec005;
    // color: $black;
}

.ime {
    &::before {
        content: '►';
        color: #005597;
        padding-right: 1ch;
    }
    // background: #005597;
    // color: $white;
}

.cedec {
    &::before {
        content: '►';
        color: #4f4571;
        padding-right: 1ch;
    }
    // background: #4f4571;
    // color: $white;
}

.cv-edu-block {
    .cv-edu-uni {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.cv-skill-block {
    .cv-skill-items {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        span {
            margin-right: 1ch;
            margin-bottom: 1ch;
            font-size: small;
            border: 1px solid $silver;
            padding-left: 1ch;
            padding-right: 1ch;
            padding-top: 2px;
            padding-bottom: 2px;
            white-space: nowrap;
            border-radius: 2px;
        }
    }
}

.last-update {
    opacity: 0.5;
    font-size: small;
    margin-top: 4rem;
}

/*Mobile*/
@media (max-width: 480px) {
    .cv-exp-block {
        flex-direction: column;
        .cv-exp-left {
            width: 100%;
            .cv-exp-date {
                margin-top: 5px;
            }
            .cv-exp-duration {
                margin-bottom: 1rem;
            }
        }
    }
}