/* Landscape phones and down */
@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
  .hidden-on-mobile {
    display: none;
  }
  .masthead-title {
    a {
      font-size: 2rem;
      letter-spacing: -0.016em;
    }
    small {
      font-size: 1rem;
      letter-spacing: -0.008em;
      margin-top: 0px;
    }
  }
  .container img {
    transform: none;
    border-radius: 0px;
  }
  .archives {
    .post-list-archives {
      margin-bottom: 1.5rem;
      line-height: 1.2;
    }
    .year {
      margin-top: 2rem;
    }
    .date-full {
      display: none !important;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  pre {
    max-height: 500px;
  }
  .author-info {
    .with-avatar {
        .photo {
            float: none;
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            background: #f3f3f3;
            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        .intro-text {
            margin-left: 0;
            display: block;
        }
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
  .container, .footer, .nav {
    max-width: 36rem;
  }
  .post {
    figure {
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .container, .footer, .nav {
    max-width: 44rem;
  }
  .post {
    figure {
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}