$sans-serif: 'Work Sans', 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace: 'Inconsolata', 'SFMono-Regular', Menlo, Consolas, monospace;

$tagline-font: $monospace;
$body-font: /*'Roboto', sans-serif*/ $sans-serif;
$heading-font: /*'Work Sans', sans-serif*/ $sans-serif;
$precode-font: $monospace;
$tag-font: $monospace;
$postmeta-font: $monospace;
$topmenu-font: /*'Work Sans', sans-serif*/ $sans-serif;
$footnote-font: $monospace;