$sans-serif: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace: 'SFMono-Regular', Menlo, Consolas, 'Inconsolata', monospace;

$tagline-font: 'Inconsolata', monospace;
$body-font: 'Work Sans', sans-serif;
$heading-font: 'Work Sans', sans-serif;
$precode-font: 'Inconsolata', monospace;
$tag-font: 'Inconsolata', monospace;
$postmeta-font: 'Inconsolata', monospace;
$topmenu-font: 'Inconsolata', monospace;
$footnote-font: 'Inconsolata', monospace;