---
layout: compress
published: true
title: About
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
	{% include head.html %}
</head>

<body>

  <a href="#content" class="skip">Skip to Main Content</a>

  <div class="wrap">

	{% include topnav.html position='center' %}

    <div id="content" class="container content" style="padding-bottom: 2rem;">

		<h1 class="colorize">About</h1>

		<div class="intro">
			<div class="author-info" style="margin-top: 2rem;">
				<div class="with-avatar">
					<div class="photo">
						<img src="{{ '/assets/wayi_280x280.jpg' | prepend: site.baseurl }}" alt="Heiswayi Nrird">
					</div>
					<p>Hi, my name is Heiswayi Nrird, but most people call me Wayi. I am currently a software engineer at <a href="https://www.keysight.com/">Keysight Technologies</a> in Penang, Malaysia.</p>
					<p>In my previous careers, I have worked as a Global IT Manager at ITD World and as an Application Engineer at IME Technologies. I have also worked as an app developer at CEDEC USM.</p>
					<p>I hold a Bachelor of Engineering (Hons) in Electronics Engineering from the Universiti Sains Malaysia (USM).</p>
					<p>In my free time, I enjoy designing and coding, contributing to open source projects, playing computer games, taking landscape photographs, reading books, and meditating virtually.</p>
					<p>I have expertise in end-to-end software product development, UI/UX design, microservices architecture deployment, AWS/Kubernetes/Docker, web API development, and agile Scrum. I am proficient in HTML + CSS, C#/C++, TypeScript/JavaScript, PHP, and Python/PowerShell.</p>
					<p class="elsewhere">
						<small class="muted">ELSEWHERE</small><br>
						<a href="https://www.linkedin.com/in/heiswayi">LinkedIn</a> &middot; 
						<a href="https://github.com/heiswayi?tab=repositories">GitHub</a> &middot; 
						<a href="https://gist.github.com/heiswayi">Gist</a> &middot; 
						<a href="https://codepen.io/heiswayi/pens/public">CodePen</a> &middot; 
						<a href="https://jsfiddle.net/user/heiswayi/">JSFiddle</a> &middot; 
						<a href="https://unsplash.com/@heiswayi_nrird">Unsplash</a>
					</p>
				</div>
			</div>
		</div>

	</div>
  </div>

  {% include footer.html %}
		
</body>

</html>