---
layout: compress
published: true
title: About
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
	{% include head.html %}
</head>

<body>

  <a href="#content" class="skip">Skip to Main Content</a>

  <div class="wrap">

	{% include topnav.html position='center' %}

    <div id="content" class="container content">

		<h1 class="colorize">About</h1>

		<div class="intro">
			<div class="author-info" style="margin-top: 2rem;">
				<div class="with-avatar">
					<div class="photo">
						<img src="{{ '/assets/wayi_280x280.jpg' | prepend: site.baseurl }}" alt="Heiswayi Nrird">
					</div>
					<p>Hi. I've been known as Heiswayi Nrird, or in short, people call me Wayi. I'm a software engineer at <a href="https://www.keysight.com/">Keysight Technologies</a> (Penang, MY).</p>
					<div><small class="muted">PREVIOUS CAREERS</small>
					<ul>
						<li>Global IT Manager <span class="muted">@</span> ITD World</li>
						<li>Application Engineer <span class="muted">@</span> IME Technologies</li>
						<li>App Developer <span class="muted">@</span> CEDEC USM</li>
					</ul>
					</div>
					<p><small class="muted">EDUCATION</small><br>
					BEng (Hons), Electronics Engineering, USM</p>
					<div><small class="muted">THINGS I USUALLY DO</small>
					<ul>
						<li>Design and code.</li>
						<li>Contribute to some open source projects.</li>
						<li>Play some computer games.</li>
						<li>Move around and capture some landscape photographs.</li>
						<li>Read some books.</li>
						<li>Meditate virtually.</li>
					</ul></div>
					<div><small class="muted">TECHNICAL SKILLS</small>
					<ul>
						<li>End-to-end software product development</li>
						<li>UI/UX design</li>
						<li>Microservices architecture deployment</li>
						<li>AWS / Kubernetes / Docker</li>
						<li>Web API development</li>
						<li>Agile Scrum</li>
					</ul></div>
					<div><small class="muted">MOSTLY USED PROGRAMMING</small>
					<ul>
						<li>HTML + CSS</li>
						<li>C# / C++</li>
						<li>TypeScript (TS) / JavaScript (JS)</li>
						<li>PHP</li>
						<li>Python / PowerShell</li>
					</ul></div>
					<p class="elsewhere">
						<small class="muted">ELSEWHERE</small><br>
						<a href="https://www.linkedin.com/in/heiswayi">LinkedIn</a> &middot; 
						<a href="https://github.com/heiswayi?tab=repositories">GitHub</a> &middot; 
						<a href="https://gist.github.com/heiswayi">Gist</a> &middot; 
						<a href="https://codepen.io/heiswayi/pens/public">CodePen</a> &middot; 
						<a href="https://jsfiddle.net/user/heiswayi/">JSFiddle</a> &middot; 
						<a href="https://unsplash.com/@heiswayi_nrird">Unsplash</a>
					</p>
				</div>
			</div>
		</div>

	</div>
  </div>

  {% include footer.html %}
		
</body>

</html>