---
layout: compress
published: true
title: Home
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
	{% include head.html %}
	<style>
	.container {
		margin-bottom: 2rem;
	}
	</style>
</head>

<body>

  <a href="#content" class="skip">Skip to Main Content</a>

  <div class="wrap">

	{% include topnav.html position='center' %}

    <div id="content" class="container content">

		<div class="intro">
			<h1 style="margin-bottom: 0;">{{ site.title }}</h1>
			<div class="lead">Write code that is easy to delete, not easy to extend.</div>
			<div class="author-info" style="margin-top: 2rem;">
				<div class="with-avatar">
					<div class="photo">
						<img src="{{ "/assets/wayi_280x280.jpg" | prepend: site.baseurl | prepend: site.url }}" alt="Heiswayi Nrird">
					</div>
					<p><small class="muted">/HELLO/</small> I'm Heiswayi Nrird and I'm a software engineer based in Penang, MY. I build and ship software at <a href="https://www.keysight.com" target="_blank">Keysight Technologies</a>. I got my degree in Electronics Engineering from Universiti Sains Malaysia (USM). I love to contribute to some open source software and publish some of my works on GitHub. Other times, I might be <em>away from the city</em> to capture some photographs on nature and landscape or, I could be somewhere reading some books.</p>
				</div>
			</div>
			<p class="elsewhere">
				<small class="muted">/ELSEWHERE/</small><br>
				<a href="https://www.linkedin.com/in/heiswayi">LinkedIn</a> &middot; <a
					href="https://github.com/heiswayi">GitHub</a> &middot; <a
					href="https://gist.github.com/heiswayi">Gist</a> &middot; <a
					href="https://codepen.io/heiswayi/">CodePen</a> &middot; <a
					href="https://jsfiddle.net/user/heiswayi/">JSFiddle</a> &middot; <a
					href="https://unsplash.com/@heiswayi_nrird">Unsplash</a>
			</p>
			<p><a href="{{ "/contact" | prepend: site.baseurl | prepend: site.url }}">Contact Info</a></p>
			<p style="font-size: small; line-height: 1.4;" class="muted">/NOTE/ <code>Heiswayi Nrird</code> is my Internet pseudonym, not a real name.</p>
		</div>

	</div>
  </div>

  {% include footer.html %}
		
</body>

</html>