---
layout: compress
published: true
title: Heiswayi Nrird Photography
description: Selective works by Heiswayi Nrird for nature and landscape photography.
keywords: nature photos, landscape photos, selective works
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
{% include head.html %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.10.3/css/themes/light/nanogallery_light.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.10.3/jquery.nanogallery.min.js"></script>
</head>

<body>

    <a href="#content" class="skip">Skip to content</a>

    <div class="wrap">

        {% include topnav.html %}

        <div id="content">

            <div class="container">

                <h1 class="post-title">Heiswayi Nrird Photography</h1>

                <p><strong>A place sometimes can be so mysterious. You'll never know someday you'll be there until you capture it.</strong> These photos are fetched from my <a href="https://www.flickr.com/photos/heiswayi_nrird/">Flickr</a> account automatically. Check me out on <a href="https://www.instagram.com/heiswayi.nrird/">Instagram</a> for other images.</p>

                <noscript>
                    {% 
                        include no-js-notice.html
                        message="This section requires JavaScript to render a photo gallery. Please enable JavaScript in your browser."
                    %}
                </noscript>

            </div>

            <div id="nanoGallery"></div>

        </div>
    </div>

    {% include foot.html %}
      
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery("#nanoGallery").nanoGallery({
                kind: 'flickr',
                userID: '151253307@N06',
                photoset: 'none',
                photoSorting: 'random',
                thumbnailWidth: 300,
                thumbnailHeight: 'auto',
                colorScheme: 'none',
                maxItemsPerLine: 0,
                thumbnailHoverEffect: [{
                    name: 'labelAppear75',
                    duration: 300
                }],
                theme: 'light',
                thumbnailGutterWidth: 5,
                thumbnailGutterHeight: 5,
                i18n: {
                    thumbnailImageDescription: 'View Photo',
                    thumbnailAlbumDescription: 'Open Album'
                },
                thumbnailLabel: {
                    display: true,
                    position: 'overImageOnMiddle',
                    align: 'center',
                    titleMaxLength: 20,
                    hideIcons: true
                }
            });
        });
    </script>

</body>
</html>

