---
layout: compress
published: true
title: Photos
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
{% include head.html %}
<link href="{{ '/assets/nanogallery/nanogallery_light.min.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<style>
    .nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer {
        border: 1px solid transparent;
        background-color: transparent;
    }
    .nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .imgContainer {
        background: transparent;
    }
    .nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .subcontainer {
        border: 0 solid transparent;
    }
</style>
<script src="{{ '/assets/nanogallery/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/nanogallery/jquery.nanogallery.min.js' | prepend: site.baseurl }}"></script>
</head>

<body>

    <a href="#content" class="skip">Skip to Main Content</a>

    <div class="wrap">

        {% include topnav.html position='center' %}

        <div id="content">

            <div class="container">

                <noscript>
                    {% 
                        include no-js-notice.html
                        message="This page requires JavaScript enabled in order to render a photo gallery in masonry layout view."
                    %}
                </noscript>

            </div>

            <div id="nanoGallery"></div>

        </div>
    </div>

    {% include footer.html %}
      
    <script>
        $(document).ready(function() {
            jQuery("#nanoGallery").nanoGallery({
                kind: 'flickr',
                userID: '151253307@N06',
                photoset: 'none',
                photoSorting: 'random',
                thumbnailWidth: 300,
                thumbnailHeight: 'auto',
                colorScheme: 'none',
                maxItemsPerLine: 0,
                thumbnailHoverEffect: [{
                    name: 'labelAppear75',
                    duration: 300
                }],
                theme: 'light',
                thumbnailGutterWidth: 5,
                thumbnailGutterHeight: 5,
                i18n: {
                    thumbnailImageDescription: 'View Photo',
                    thumbnailAlbumDescription: 'Open Album'
                },
                thumbnailLabel: {
                    display: true,
                    position: 'overImageOnMiddle',
                    align: 'center',
                    titleMaxLength: 20,
                    hideIcons: true
                }
            });
        });
    </script>

</body>
</html>

