---
layout: compress
published: true
title: Photography
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
{% include head.html %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.10.3/css/themes/light/nanogallery_light.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.10.3/jquery.nanogallery.min.js"></script>
</head>

<body>

    <a href="#content" class="skip">Skip to content</a>

    <div class="wrap">

        {% include topnav.html %}

        <div id="content">

            <div id="nanoGallery"></div>

            <hr/>

        </div>
    </div>

    {% include foot.html %}
      
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery("#nanoGallery").nanoGallery({
                kind: 'flickr',
                userID: '151253307@N06',
                photoset: 'none',
                photoSorting: 'random',
                thumbnailWidth: 300,
                thumbnailHeight: 'auto',
                colorScheme: 'none',
                maxItemsPerLine: 4,
                thumbnailHoverEffect: [{
                    name: 'labelAppear75',
                    duration: 300
                }],
                theme: 'light',
                thumbnailGutterWidth: 5,
                thumbnailGutterHeight: 5,
                i18n: {
                    thumbnailImageDescription: 'View Photo',
                    thumbnailAlbumDescription: 'Open Album'
                },
                thumbnailLabel: {
                    display: true,
                    position: 'overImageOnMiddle',
                    align: 'center',
                    titleMaxLength: 20,
                    hideIcons: true
                }
            });
        });
    </script>

</body>
</html>

