---
layout: compress
published: true
title: Heiswayi Nrird Photography
description: Some of my selective photographs on nature and landscape.
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
{% include head.html %}
<link href="{{ "/assets/nanogallery/nanogallery_light.min.css" | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet" type="text/css">
<script src="{{ "/assets/nanogallery/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/nanogallery/jquery.nanogallery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
</head>

<body>

    <a href="#content" class="skip">Skip to Main Content</a>

    <div class="wrap">

        {% include topnav.html %}

        <div id="content">

            <div class="container">

                <h1 class="post-title">Heiswayi Nrird Photography</h1>

                <p>“When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.” ― Ansel Adams</p>

                <noscript>
                    {% 
                        include no-js-notice.html
                        message="This section requires JavaScript to render a photo gallery. Please enable JavaScript in your browser."
                    %}
                </noscript>

            </div>

            <div id="nanoGallery"></div>

        </div>
    </div>

    {% include footer.html %}
      
    <script>
        $(document).ready(function() {
            jQuery("#nanoGallery").nanoGallery({
                kind: 'flickr',
                userID: '151253307@N06',
                photoset: 'none',
                photoSorting: 'random',
                thumbnailWidth: 300,
                thumbnailHeight: 'auto',
                colorScheme: 'none',
                maxItemsPerLine: 0,
                thumbnailHoverEffect: [{
                    name: 'labelAppear75',
                    duration: 300
                }],
                theme: 'light',
                thumbnailGutterWidth: 5,
                thumbnailGutterHeight: 5,
                i18n: {
                    thumbnailImageDescription: 'View Photo',
                    thumbnailAlbumDescription: 'Open Album'
                },
                thumbnailLabel: {
                    display: true,
                    position: 'overImageOnMiddle',
                    align: 'center',
                    titleMaxLength: 20,
                    hideIcons: true
                }
            });
        });
    </script>

</body>
</html>

