---
layout: compress
published: true
title: Resume
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
	{% include head.html %}
	<style>
	.container {
		margin-bottom: 2rem;
	}
	</style>
</head>

<body>

  <a href="#content" class="skip">Skip to Main Content</a>

  <div class="wrap">

	{% include topnav.html position='center' %}

    <div id="content" class="container content">

		<h1>Heiswayi Nrird's Resume</h1>

		<div class="cv-block">
			<h3 class="cv-h3">Summary</h3>
			<div class="cv-summary">
				Expert Software Developer dedicated to constantly improve tools and infrastructure to
				maximize productivity, minimize system downtime and quickly respond to the changing needs
				of the business. Highly dependable Software Engineer and enthusiastic team player, dedicated
				to the streamlining processes and efficiently resolving project issues. 
				At the same time, dedicated to delivering the best user experience (UX) into the software 
				frontend design.
			</div>
		</div>

		<div class="cv-block">
			<h3 class="cv-h3">Work Experience</h3>

			<!--Keysight-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Software Engineer</div>
					<div class="cv-exp-com"><span class="keysight">Keysight Technologies</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Dec 2017</span>
						<span class="date-ranger"></span>
						<span class="date-to">Present</span>
					</div>
					<div class="cv-exp-duration">
						3 years and counting
					</div>
				</div>
				<div class="cv-exp-right">
					<ul class="square">
						<li>Maintaining customers' happiness with the existing software products while
							bringing new solutions to the customers' business success factors.</li>
						<li>Improving the software build system and DevOps practices.</li>
						<li>Working on new technology stack for both frontend and backend software
							development.</li>
						<li>Working on microservices deployment and application containerization.</li>
						<li>Working on UI/UX design.</li>
					</ul>
					<p class="ul-title">Programming/frameworks/tools that I used:</p>
					<ul class="arrow">
						<li>C#, C++, JavaScript, TypeScript, Python, PowerShell</li>
						<li>WPF, ASP.NET Core 3.1, NodeJS</li>
						<li>Angular</li>
						<li>Team Foundation Build, Jenkins</li>
						<li>Linux (RHEL/CentOS), Docker, Amazon Web Services</li>
					</ul>
					<p class="ul-title">Released products that I involved:</p>
					<ul class="checkmark">
						<li>Keysight 14585A Control and Analysis Software App (2.4, 2.5)</li>
						<li>Keysight BenchVue Power Supply App (2018.1)</li>
						<li>Keysight BenchVue Advanced Power Control and Analysis App (2019).</li>
					</ul>
					<p class="ul-title">My other notable achievements:</p>
					<ul class="checkmark">
						<li>As part of the team that successfully closed a deal worth 360k USD in
							Power Supply with Italian customers [2019].</li>
						<li>Hold 2 Intellectual Property (IP) under Commercialization in 2019.</li>
						<li>4 IP submissions in total.</li>
					</ul>
				</div>
			</div>

			<!--ITDWorld-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Web Development & Global IT Manager</div>
					<div class="cv-exp-com"><span class="itd">ITD World (HQ)</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Sep 2017</span>
						<span class="date-ranger"></span>
						<span class="date-to">Nov 2017</span>
					</div>
					<div class="cv-exp-duration">
						3 months
					</div>
				</div>
				<div class="cv-exp-right">
					<p>ITD World is the global talent and leadership development expert that delivers
						training, action learning, coaching, mentoring, consulting, competency
						certification, and seminars.</p>
					<ul class="square">
						<li>Helped the company to improve the existing business support system.</li>
						<li>Fixed and improved the security of existing web apps.</li>
						<li>Provided consultation and IT supports to all ITD World centers (e.g. ITD
							Bangkok, ITD Vietnam, and ITD Philippines).</li>
						<li>Managed the whole IT organization in ITD.</li>
						<li>Developed a web-based app that served as a platform to create and host
							a 360-degree Leadership Feedback Tool and provide live reports with an
							automated email system.</li>
					</ul>
					<p class="ul-title">Apps that I developed:</p>
					<ul class="checkmark">
						<li>e-Assessment System 2.0</li>
					</ul>
				</div>
			</div>

			<!--Keysight-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Build And Release Engineer</div>
					<div class="cv-exp-com"><span class="keysight">Keysight Technologies</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Feb 2017</span>
						<span class="date-ranger"></span>
						<span class="date-to">Aug 2017</span>
					</div>
					<div class="cv-exp-duration">
						7 months
					</div>
				</div>
				<div class="cv-exp-right">
					<p>To ensure the software is built successfully, tested, well packaged, and
						delivered right on time by automation.</p>
					<ul class="square">
						<li>Managed and improved the software build process by developing and
							introducing more tools that helped to maximize the build automation.</li>
						<li>Implemented automated software obfuscation, installation package creation,
							and continuous quality measurement metrics.</li>
						<li>Wrote some scripts to automate the whole workflow and processes to
							ensure a fully working CI which included mobile apps development.</li>
						<li>Promoted the DevOps practices among the team members.</li>
					</ul>
					<p class="ul-title">Programming/frameworks/tools that I used:</p>
					<ul class="arrow">
						<li>C#, PowerShell, Batch, Bash, Python</li>
						<li>Team Foundation Build, Jenkins</li>
					</ul>
					<p class="ul-title">Released products that I involved:</p>
					<ul class="checkmark">
						<li>Keysight BenchVue USB Modular Apps (FunctionGen, SMU, Scope, DAQ,
							DMM)</li>
						<li>Keysight BenchVue DAQ App</li>
						<li>Keysight/Agilent VEE App</li>
						<li>Keysight Mobile Meter Logger Apps (Android, iOS)</li>
					</ul>
				</div>
			</div>

			<!--Keysight-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Software Engineer</div>
					<div class="cv-exp-com"><span class="keysight">Keysight Technologies</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Jan 2015</span>
						<span class="date-ranger"></span>
						<span class="date-to">Jan 2017</span>
					</div>
					<div class="cv-exp-duration">
						2 years 1 month
					</div>
				</div>
				<div class="cv-exp-right">
					<p>Keysight Technologies is a US company that manufactures electronics test
						and measurement equipment and software.</p>
					<ul class="square">
						<li>Developed .NET based desktop apps that shipped together with the
							hardware products.</li>
						<li>Provided systematic post support on the existing apps for bug fixing and
							new feature requests.</li>
					</ul>
					<p class="ul-title">Programming/frameworks/tools that I used:</p>
					<ul class="arrow">
						<li>C#</li>
						<li>WPF</li>
					</ul>
					<p class="ul-title">Released products that I involved:</p>
					<ul class="checkmark">
						<li>Keysight Handheld LCR Meter App</li>
						<li>Keysight TrueIR Thermal Imager App</li>
						<li>Keysight BenchVue USB Modular Apps (FunctionGen, SMU, Scope, DAQ,
							DMM)</li>
					</ul>
				</div>
			</div>

			<!--IME-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Application Engineer</div>
					<div class="cv-exp-com"><span class="ime">IME Technology (Penang) Sdn. Bhd.</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Oct 2013</span>
						<span class="date-ranger"></span>
						<span class="date-to">Dec 2014</span>
					</div>
					<div class="cv-exp-duration">
						1 year 3 months
					</div>
				</div>
				<div class="cv-exp-right">
					<p>IME Technology is a member of IME Group of companies specialized in 3D
						CAD Design, CAM (Machining) and CAE (FEA Simulation).</p>
					<ul class="square">
						<li>Conducted SolidWorks CAD training for CAD designers and engineers.</li>
						<li>Product Owner for SolidWorks Electrical and EPDM.</li>
						<li>Helped customers to maximize the efficiency of defining electrical
							interconnections for complex electrical systems and how they could leverage
							the software to control and manage their data such as design files, BOMs, and
							documents effectively and securely.</li>
						<li>Developed the company's first SolidWorks add-in program known as IME
							InterX. Through this add-in, we provided our customers with some utilities that
							could increase their engineer's productivity and reduce the design time.</li>
						<li>Developed in-house .NET based apps to automate in-house tasks for our
							trainers and engineers.</li>
						<li>Developed web-based apps for internal use such as IME Training Evaluation
							System.</li>
						<li>Helped to consult IT/marketing on improving the company visibility on the
							Internet such as web search engine optimization.</li>
					</ul>
					<p class="ul-title">Apps that I developed:</p>
					<ul class="checkmark">
						<li>IME InterX - a SolidWorks add-in.</li>
						<li>IME Training Evaluation System</li>
					</ul>
					<p class="ul-title">Programming/frameworks/tools that I used:</p>
					<ul class="arrow">
						<li>C#, VB.NET, PHP</li>
						<li>WinForms, WPF</li>
						<li>Bootstrap Framework</li>
					</ul>
					<p class="ul-title">Professional and specialist certifications that I had:</p>
					<ul class="checkmark">
						<li>SolidWorks Professional - Mechanical Design (C-86Q9BMJRYG)</li>
						<li>SolidWorks Specialist - Data Management Advanced (C-3YRAL7YG3V)</li>
						<li>SolidWorks Specialist - Mechanical Design 2014 (C-JCWD34JN7W)</li>
						<li>SolidWorks Specialist - Mechanical Design 2014 (C-Z6T2F654NN)</li>
						<li>SolidWorks Specialist - Data Management 2015 (C-SHCC6277DN)</li>
						<li>SolidWorks Specialist - Data Management 2015 (C-DBFQQUY6MH)</li>
						<li>SolidWorks Specialist - Electrical 2014 (C-RRZG6S324Z)</li>
					</ul>
				</div>
			</div>

			<!--CEDEC-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Application Developer</div>
					<div class="cv-exp-com"><span class="cedec">Collaborative Microelectronic Design Excellence Centre (CEDEC),
						Universiti Sains Malaysia</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Jun 2013</span>
						<span class="date-ranger"></span>
						<span class="date-to">Sep 2013</span>
					</div>
					<div class="cv-exp-duration">
						4 months
					</div>
				</div>
				<div class="cv-exp-right">
					<p>After finished my study, I continued working temporarily at the center as a
						contract application developer.</p>
					<ul class="square">
						<li>Focused on extending the app features.</li>
					</ul>
					<p class="ul-title">Apps that I developed:</p>
					<ul class="checkmark">
						<li>xLogger</li>
						<li>Device Indicator for Environment Monitoring Device (EMD) Data Logger</li>
					</ul>
					<p class="ul-title">Programming/frameworks/tools that I used:</p>
					<ul class="arrow">
						<li>C#</li>
						<li>WinForms, Office Interop API</li>
						<li>Google Map API</li>
					</ul>
				</div>
			</div>

			<!--CEDEC-->
			<div class="cv-exp-block">
				<div class="cv-exp-left">
					<div class="cv-exp-title">Application Developer</div>
					<div class="cv-exp-com"><span class="cedec">Collaborative Microelectronic Design Excellence Centre (CEDEC),
						Universiti Sains Malaysia</span></div>
					<div class="cv-exp-date">
						<span class="date-from">Jun 2012</span>
						<span class="date-ranger"></span>
						<span class="date-to">Aug 2012</span>
					</div>
					<div class="cv-exp-duration">
						3 months
					</div>
				</div>
				<div class="cv-exp-right">
					<p>CEDEC is a microelectronic research centre of USM devoted to conduct,
						support and encourage Integrated Circuit (IC) design activities in Malaysia.</p>
					<ul class="square">
						<li>3-month internship program.</li>
						<li>Developed .NET based desktop apps.</li>
						<li>Focused on GUI, data acquisition and analysis software.</li>
						<li>Developed software tools for Master/PhD students.</li>
					</ul>
					<p class="ul-title">Apps that I developed:</p>
					<ul class="checkmark">
						<li>Environment Monitoring Device (EMD) Data Logger</li>
						<li>Equipment Control GUI Program for Test & Measurement</li>
					</ul>
					<p class="ul-title">Programming/frameworks/tools that I used:</p>
					<ul class="arrow">
						<li>C#, C++</li>
						<li>WinForms, Office Interop API</li>
						<li>WinCE</li>
					</ul>
					<p class="ul-title">My other notable achievements:</p>
					<ul class="checkmark">
						<li>Participated in Intel Cup 2012 (Embedded System Design Contest)
							Shanghai, China. Won 2nd prize.</li>
						<li>Developed "Sign Language Translator System for Deaf-mute Person" app
							for the Intel Cup 2012.</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="cv-block">
			<h3 class="cv-h3">Education</h3>
			<div class="cv-edu-block">
				<div class="cv-edu-uni">Universiti Sains Malaysia</div>
				<div class="cv-edu-desc">
					Bachelor’s Degree (Honours), Electronics Engineering · (2009 - 2013)
				</div>
			</div>
		</div>

		<div class="cv-block">
			<h3 class="cv-h3">Certifications</h3>
			<div class="cv-cert-block">
				<ul>
					<li>Cisco Certified Network Associate (CCNA)</li>
					<li>SolidWorks Certified Professional - Mechanical Design · <a href="https://cv.virtualtester.com/qr/?b=SLDWRKS&i=C-86Q9BMJRYG" target="_blank">C-86Q9BMJRYG</a></li>
					<li>SolidWorks Certified Specialist - Data Management Advanced · <a href="https://cv.virtualtester.com/qr/?b=SLDWRKS&i=C-3YRAL7YG3V" target="_blank">C-3YRAL7YG3V</a></li>
				</ul>
			</div>
		</div>

		<div class="cv-block">
			<h3 class="cv-h3">Technical Skills &amp; Programming</h3>
			<div class="cv-skill-block">
				<p class="ul-title">Technologies/Frameworks/Tools:</p>
				<div class="cv-skill-items">
					<span>.NET</span>
					<span>.NET Core</span>
					<span>WPF</span>
					<span>NodeJS</span>
					<span>Angular</span>
					<span>AWS</span>
					<span>Jenkins</span>
					<span>TFS</span>
					<span>Laravel</span>
					<span>Xamarin</span>
					<span>Kotlin</span>
					<span>Docker</span>
					<span>Sass</span>
					<span>Bootstrap</span>
					<span>Tailwind CSS</span>
					<span>Foundation</span>
					<span>Semantic UI</span>
					<span>Jekyll</span>
					<span>MkDocs</span>
					<span>Hugo</span>
					<span>Hexo</span>
					<span>11ty</span>
					<span>Material Design</span>
					<span>Primer CSS</span>
					<span>WordPress</span>
				</div>
				<p class="ul-title">Programming:</p>
				<div class="cv-skill-items">
					<span>C</span>
					<span>C#</span>
					<span>C++</span>
					<span>TypeScript</span>
					<span>HTML/CSS</span>
					<span>JavaScript</span>
					<span>Python</span>
					<span>Bash</span>
					<span>Shell</span>
					<span>PowerShell</span>
					<span>PHP</span>
					<span>Liquid</span>
					<span>Pascal</span>
					<span>SQL</span>
					<span>Java</span>
					<span>Assembly</span>
					<span>VBA</span>
				</div>
			</div>
		</div>

		<div class="last-update">
			Last update: 2020.01.22
		</div>

	</div>
  </div>

  {% include footer.html %}
		
</body>

</html>