---
layout: page
title: Tags
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% if tags %}
<div class="tag-cloud" id="Tags">
  {% for tag in tags %}
    <a class="tag-anchor" href="#{{ tag | replace: '#', 'sharp' | slugify | downcase }}"><span>#</span>{{ tag | replace: "#", "sharp" | slugify | downcase }}</a>
  {% endfor %}
</div>
{% endif %}

<div class="tagged-posts">
	
  	{% for tag in tags %}

	<style>
	#{{ tag | replace: '#', 'sharp' | slugify | downcase }} {
		transition: opacity 0.5s ease-out;
    	opacity: 0;
    	height: 0;
    	overflow: hidden;
	}

	#{{ tag | replace: '#', 'sharp' | slugify | downcase }}:target {
		opacity: 1;
    	height: auto;
	}
	</style>

	<div id="{{ tag | replace: '#', 'sharp' | slugify | downcase }}">
    <h2 class="current-tag"><span class="mark">#</span>{{ tag | replace: "#", "sharp" | slugify | downcase }}</h2>

	<ul>
    {% for post in site.posts %}
    {% if post.tags contains tag %}

    <li class="tagged-post">
	    <a href="{{ post.url }}" class="tagged-post-title">{{ post.title }}</a><br>
		<span>{{ post.description }}</span>
	</li>

	{% endif %}
	{% endfor %}
	</ul>

	</div>

  	{% endfor %}

</div>