---
layout: compress
published: true
title: Visiting Loveland, Colorado, USA
description: During my visit to Loveland, Colorado, USA in January 2018, a captivating tale unfolded.
tags: [photojournal]
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
	{% include head.html %}
    <style>
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container {
        background: transparent;
    }
    .gallery {
        margin: 0 auto;
        column-count: 4;
        --webkit-column-count: 4;
        --moz-column-count: 4;
        gap: 1rem;
        padding: 1rem;
    }
    .image img {
        margin: 0 0 1rem 0;
        width: 100%;
        height: auto;
    }
    .no-bottom-margin {
        margin-bottom: 0;
    }
    </style>
</head>

<body>

  {% include topnav-post.html %}

  <div class="container">
    <div class="content">
        <div class="post-content">
            <p>
                Last year, I have a chance to visit Loveland, Colorado, USA in January 2018. It's a beautiful place. I have been there for 2 weeks, sent by my company to work on product knowledge transfer with my colleagues in Keysight Loveland.
            </p>
        </div>
    </div>
    <div class="gallery">
        <div class="image"><a href="/assets/loveland/keysight-loveland/1.jpg"><img src="/assets/loveland/keysight-loveland/1.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/10.jpg"><img src="/assets/loveland/keysight-loveland/10.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/11.jpg"><img src="/assets/loveland/keysight-loveland/11.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/12.jpg"><img src="/assets/loveland/keysight-loveland/12.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/2.jpg"><img src="/assets/loveland/keysight-loveland/2.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/3.jpg"><img src="/assets/loveland/keysight-loveland/3.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/4.jpg"><img src="/assets/loveland/keysight-loveland/4.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/5.jpg"><img src="/assets/loveland/keysight-loveland/5.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/6.jpg"><img src="/assets/loveland/keysight-loveland/6.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/7.jpg"><img src="/assets/loveland/keysight-loveland/7.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/8.jpg"><img src="/assets/loveland/keysight-loveland/8.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/keysight-loveland/9.jpg"><img src="/assets/loveland/keysight-loveland/9.jpg" alt="Image" /></a></div>
    </div>
    <div class="content">
        <div class="post-content">
            <p>
                And at the same time, I have a chance to visit some beautiful places around in Colorado such as Rocky Mountain National Park, Estes Park, and some other places.
            </p>
        </div>
    </div>
    <div class="gallery">
        <div class="image"><a href="/assets/loveland/other-places/1.jpg"><img src="/assets/loveland/other-places/1.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/10.jpg"><img src="/assets/loveland/other-places/10.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/11.jpg"><img src="/assets/loveland/other-places/11.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/12.jpg"><img src="/assets/loveland/other-places/12.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/13.jpg"><img src="/assets/loveland/other-places/13.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/14.jpg"><img src="/assets/loveland/other-places/14.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/15.jpg"><img src="/assets/loveland/other-places/15.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/2.jpg"><img src="/assets/loveland/other-places/2.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/3.jpg"><img src="/assets/loveland/other-places/3.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/4.jpg"><img src="/assets/loveland/other-places/4.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/5.jpg"><img src="/assets/loveland/other-places/5.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/6.jpg"><img src="/assets/loveland/other-places/6.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/7.jpg"><img src="/assets/loveland/other-places/7.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/8.jpg"><img src="/assets/loveland/other-places/8.jpg" alt="Image" /></a></div>
        <div class="image"><a href="/assets/loveland/other-places/9.jpg"><img src="/assets/loveland/other-places/9.jpg" alt="Image" /></a></div>
    </div>
    <div class="content">
        <div class="post-content">
            <p>
                I wish I have a chance to visit Loveland again in the future.
            </p>
            <p>
                Just another dedicated site for my Loveland, Colorado, USA trip photography: <a href="https://labs.nrird.com/loveland">https://labs.nrird.com/loveland</a>
            </p>
        </div>
    </div>

    <div class="content">
        {% if site.show_tags %}
        {% assign post = page %}
        {% if post.tags.size > 0 %}

          {% assign tags_content = "" %}
          {% for post_tag in post.tags %}
            {% capture tags_content_temp %}
              {{ tags_content }}<a href="{{ site.baseurl }}/tags#{{ post_tag | replace: '#', 'sharp' | slugify | downcase }}"><i class="fa fa-hashtag muted" aria-hidden="true"></i><span class="hidden">#</span>{{ post_tag | replace: "#", "sharp" | slugify | downcase }}</a>
            {% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endfor %}

          <div class="post-tags">
            {{ tags_content }}
          </div>
        {% endif %}
        {% endif %}
    </div>
  </div>

  {% include footer.html %}

    <script>
    
    </script>
		
</body>

</html>