{% if include.caption %}
<figure>
    {% if include.href %}
    <a href="{{ include.href }}">
        <img src="{{ include.src }}" alt="Image: {{ include.caption }}">
    </a>
    {% else %}
    <a href="{{ include.src }}">
        <img src="{{ include.src }}" alt="Image: {{ include.caption }}">
    </a>
    {% endif %}
    <figcaption><span>{{ include.caption }}</span></figcaption>
</figure>
{% else %}
<figure>
    {% if include.href %}
    <a href="{{ include.href }}">
        <img src="{{ include.src }}" alt="Uncaptioned image">
    </a>
    {% else %}
    <a href="{{ include.src }}">
        <img src="{{ include.src }}" alt="Uncaptioned image">
    </a>
    {% endif %}
</figure>
{% endif %}