{% if include.caption %}
<figure>
    {% if include.href %}
    <a href="{{ include.href }}">
        <noscript>
            <img src="{{ include.src }}" alt="Image: {{ include.caption }}">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ include.src }}" alt="Image: {{ include.caption }}" class="lazyload">
    </a>
    {% else %}
    <a href="{{ include.src }}">
        <noscript>
            <img src="{{ include.src }}" alt="Image: {{ include.caption }}">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ include.src }}" alt="Image: {{ include.caption }}" class="lazyload">
    </a>
    {% endif %}
    <figcaption><span>{{ include.caption }}</span></figcaption>
</figure>
{% else %}
<figure>
    {% if include.href %}
    <a href="{{ include.href }}">
        <noscript>
            <img src="{{ include.src }}" alt="Uncaptioned image">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ include.src }}" alt="Uncaptioned image" class="lazyload">
    </a>
    {% else %}
    <a href="{{ include.src }}">
        <noscript>
            <img src="{{ include.src }}" alt="Uncaptioned image">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ include.src }}" alt="Uncaptioned image" class="lazyload">
    </a>
    {% endif %}
</figure>
{% endif %}