<hr/>
<div class="footer">
	<div class="copyright">
		<a href="{{ '/site' | prepend: site.baseurl | prepend: site.url }}">/posts</a> &middot; <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">/about</a> &middot; <a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">/tags</a> &middot; <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">/rss</a> &middot; <a href="#top" class="back-to-top-anchor">/back-to-top</a><br>
		&copy; {{ site.time | date: "%Y" }} <span class="dot-red" aria-hidden="true">/</span><span class="dot-yellow" aria-hidden="true">\</span><span class="dot-green" aria-hidden="true">/</span> Heiswayi Nrird<br>
		<span class="page-load"></span>
	</div>
</div>

<script>
window.addEventListener('load', () => {
  setTimeout(() => {
    const t = window.performance && performance.timing;
    const round2 = num => Math.round(num * 100) / 100;
    if (t) {
      const timingStats = document.querySelector('.page-load');
      const loadTime = (t.loadEventEnd - t.navigationStart) / 1000;
      let timingStatsHTML = `This page loaded in ${round2(loadTime)} seconds.`;
      timingStats.innerHTML = timingStatsHTML;
    }
  }, 0);
});
</script>