<div class="footer">
	<div class="copyright"><i class="fa fa-copyright"></i> 2015 - {{ site.time | date: "%Y" }} {{ site.author.name }} (ver. {{ site.version }}) — <a href="{{ "/about" | prepend: site.baseurl | prepend: site.url }}">About</a> // <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a></div>
</div>

<script>
(function() {
    var pre = document.getElementsByTagName('pre'),
        pl = pre.length;
    for (var i = 0; i < pl; i++) {
        pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
        var num = pre[i].innerHTML.split(/\n/).length;
        for (var j = 0; j < (num - 1); j++) {
            var line_num = pre[i].getElementsByTagName('span')[0];
            line_num.innerHTML += '<span>' + (j + 1) + '</span>';
        }
    }
})();
</script>
