<link href="http://gmpg.org/xfn/11" rel="profile">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{% seo %}

<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
<meta name="wot-verification" content="{{ site.webmaster_verifications.wot }}"/>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url }}?{{ site.version }}.{{ site.time | date: "%d%H%M"}}">