<script>
    window.addEventListener('load', () => {
        setTimeout(() => {
            const t = window.performance && performance.timing;
            const round2 = num => Math.round(num * 100) / 100;
            if (t) {
                const timingStats = document.querySelector('.page-load');
                const loadTime = (t.loadEventEnd - t.navigationStart) / 1000;
                let timingStatsHTML = `page load time: ${round2(loadTime)}s`;
                timingStats.innerHTML = timingStatsHTML;
            }
        }, 0);
    });
</script>