{% if include.message %}
<div style="font-size:13px;line-height:1;color:#DD3D36;margin-bottom:20px;font-family:monospace;">
    &lt;!--<br>
    <strong>OOPS, YOU HAVE JAVASCRIPT DISABLED!</strong><br>
    {{ include.message }}<br>
    --&gt;
</div>
{% else %}
<div style="font-size:13px;line-height:1;color:#DD3D36;margin-bottom:20px;font-family:monospace;">
    <strong>OOPS, BLOCKING AHEAD!</strong><br>
    You have JavaScript disabled. This page requires JavaScript to work completely.
</div>
{% endif %}
