<div class="header">
    <div class="top-nav">
        <div class="site-title">
            <span class="brand-bg"><a href="{{ '/' | prepend: site.baseurl }}"
                    class="colorize">{{site.title}}</a></span> &middot;
            <a href="{{ '/blog' | prepend: site.baseurl }}">Blog Index</a>
        </div>
        <div class="theme-toggle">
            <input type="checkbox" class="checkbox" id="theme-toggle">
            <label for="theme-toggle" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
            </label>
        </div>
    </div>
</div>