{% assign posts = '' %}
{% assign about = '' %}
{% assign projects = '' %}
{% assign photos = '' %}
{% assign home = '' %}
{% assign resume = '' %}

{% case page.url %}
    {% when "/posts" %}
        {% assign posts = 'active' %}
    {% when "/about" %}
        {% assign about = 'active' %}
    {% when "/projects" %}
        {% assign projects = 'active' %}
    {% when "/photography" %}
        {% assign photos = 'active' %}
    {% when "/" %}
        {% assign home = 'active' %}
    {% when "/resume" %}
        {% assign resume = 'active' %}
    {% else %}
        {% assign posts = '' %}
        {% assign about = '' %}
        {% assign projects = '' %}
        {% assign photos = '' %}
        {% assign home = '' %}
        {% assign resume = '' %}
{% endcase %}

<div class="header">
    {% if include.position == 'center' %}
    <div class="container" style="justify-content: center;">
    {% elsif include.position == 'wide-left' %}
    <div class="container" style="max-width: 100%; padding-left: 1rem; padding-right: 1rem;">
    {% else %}
    <div class="container">
    {% endif %}
        <div class="site-logo">
            <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" class="logo">
                <img src="{{ "/assets/logo/favicon-16x16.png" | prepend: site.baseurl | prepend: site.url }}" alt=""/>
            </a>
        </div>
        <nav>
            <div class="site-nav">
                <ul>
                    <li><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" class="menu {{home}}">/home</a></li>
                    <li><a href="{{ "/posts" | prepend: site.baseurl | prepend: site.url }}" class="menu {{posts}}">/posts</a></li>
                    <!-- <li><a href="{{ "/about" | prepend: site.baseurl | prepend: site.url }}" class="menu {{about}}">/about</a></li> -->
                    <li><a href="{{ "/projects" | prepend: site.baseurl | prepend: site.url }}" class="menu {{projects}}">/projects</a></li>
                    <li><a href="{{ "/photography" | prepend: site.baseurl | prepend: site.url }}" class="menu {{photos}}">/photos</a></li>
                    <li><a href="{{ "/resume" | prepend: site.baseurl | prepend: site.url }}" class="menu {{resume}}">/resume</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>