<div class="header">
    {% if include.position == 'center' %}
    <div class="container" style="justify-content: center;">
    {% elsif include.position == 'wide-left' %}
    <div class="container" style="max-width: 100%; padding-left: 1rem; padding-right: 1rem;">
    {% else %}
    <div class="container">
    {% endif %}
        <nav>
            <div class="site-nav">
                <ul>
                    <li><a href="{{ "/" | prepend: site.baseurl }}" class="menu">&larr; back to home page</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>