---
layout: compress
published: true
title: Dear Mawar Allyssa - Growing Old
description: A simple sweet comic dedicated to my lovely daughter, Mawar Allyssa about growing old.
keywords: custom html page
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
{% include head.html %}
<style>
#photos {
    margin: 0 auto;
    text-align: center;
}
</style>
</head>

<body>

    <a href="#content" class="skip">Skip to content</a>

    <div class="wrap">

        {% include topnav.html %}

        <div id="content">

            <div class="container">

                <h1 class="post-title">{{ page.title }}</h1>

                <blockquote>Dear Mawar Allyssa,<br>
                This sweet simple comic Papa dedicated it for you when you are growing old one day later.<br>
                <br>
                Love, Papa.<br>
                21 December 2019</blockquote>
                <p><strong>Growing Old</strong> by Beardo Comics - Dan Dougherty</p>
                
            </div>

            <div id="photos">
                <img src="dear-mawar-allyssa-growing-old-comic.jpg" alt="Growing Old - Beardo Comics - Dan Dougherty">
            </div>

        </div>
    </div>

    {% include foot.html %}

</body>
</html>

