---
layout: compress
published: true
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
	{% include head.html %}
	</style>
</head>

<body>

  <a href="#content" class="skip">Skip to Main Content</a>

  <div class="wrap">

	{% include topnav.html %}

    <div id="content" class="container content">

      <div class="page">
        <div class="page-top-meta">
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      
        {{ content }}
      
      </div>

    </div>
  </div>

	{% include footer.html %}
		
</body>

</html>
