---
layout: compress
published: true
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
  {% include head.html %}
</head>

<body>

  <a href="#content" class="skip">Skip to Main Content</a>

  <div class="wrap">

    {% include topnav-post.html position='center' %}

    <div id="content" class="container content">

      <div class="post">
        <div class="post-top-meta">
          <div class="post-label">
            <a href="{{ '/tags#project' | prepend: site.baseurl | prepend: site.url }}">Project</a>
          </div>
          <div class="post-date">
            <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
            <span class="readtime">{% include reading-time.html %}</span>
          </div>
          <h1 class="post-title colorize">{{ page.title }}</h1>
        </div>

        <article id="article">
          {{ content }}
        </article>

        {% if site.show_tags %}
          <div class="spacer"></div>
        {% endif %}

        <!-- <div class="post-date post-bottom-meta">{{ page.date | date: "%B %d, %Y" }} — By {{ site.author.name }}</div> -->

        {% if site.show_tags %}
        {% assign post = page %}
          {% if post.tags.size > 0 %}

          {% assign tags_content = "" %}
          {% for post_tag in post.tags %}
            {% capture tags_content_temp %}
              {{ tags_content }}<a href="{{ site.url }}{{ site.baseurl }}/tags#{{ post_tag | slugify }}"><i class="fa fa-hashtag muted" aria-hidden="true"></i><span class="hidden">#</span>{{ post_tag | replace: "#", "sharp" | slugify | downcase }}</a>
            {% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endfor %}

          <div class="tagged">
            {{ tags_content }}
          </div>
        {% endif %}
        {% endif %}

      </div>

    </div>
  </div>

  {% include footer.html %}

</body>

</html>