---
layout: compress
published: true
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

<head>
  {% include head.html %}
</head>

<body>

  {% include topnav-post.html %}

  <div class="container">
    <div class="content">
      <div class="post-category">
        <a href="{{ '/tags#project' | prepend: site.baseurl }}">Project / Application</a>
      </div>
      <div class="post-meta">
        <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
        <span class="readtime">{% include reading-time.html %}</span>
      </div>
      <h1 class="post-title colorize">{{ page.title }}</h1>
      <div class="post-content">{{ content }}</div>
      {% if site.show_tags %}
        {% assign post = page %}
        {% if post.tags.size > 0 %}

          {% assign tags_content = "" %}
          {% for post_tag in post.tags %}
            {% capture tags_content_temp %}
              {{ tags_content }}<a href="{{ site.baseurl }}/tags#{{ post_tag | replace: '#', 'sharp' | slugify | downcase }}"><i class="fa fa-hashtag muted" aria-hidden="true"></i><span class="hidden">#</span>{{ post_tag | replace: "#", "sharp" | slugify | downcase }}</a>
            {% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endfor %}

          <div class="post-tags">
            {{ tags_content }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% include footer.html %}

</body>

</html>